.quiz-name{
    color: blue;
    font-size: 30px;
    padding-bottom: 20px;
}
.form-answers{
    margin: 40px;
}
.quiz-answers{
    margin-bottom: 20px;
}
.mr-3{
    margin-right: 30px;
}
.quiz-wapper{
    padding: 10px;
}
.category-name{
    font-size: 30px;
    color: brown;
    padding-bottom: 20px;
}