.app-wapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    background-color: azure;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.app-main{
    background-color: aquamarine;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;

    position: relative;
    top: 58px;
}

@media (max-width:767px){
    .app-main{
        height: 100%;
    }
    .app-wapper{
        padding: 1rem;
    }
}