
.wapper__answers{
    display: flex;
    margin-bottom: 20px;
}
.circle{
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: white;
}

.quiz_add{
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: rgb(44, 42, 42);
        padding: 12px 40px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
        margin: 10px 20px;
    }
}
.quiz_question{
    height: 46px;
    background-color: aliceblue;
    color: black;
    border-bottom: 1px solid rosybrown;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    a{
        color: rgb(20, 19, 19);
        text-decoration: none;
        font-size: 17px;
    }
}
.quiz_allquestions{
    background-color: rgb(41, 66, 112);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
}
.quiz_sort_name{
    cursor: pointer;
}