.radio{
    width: 25px;
    height: 25px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.wapper__answers{
    display: flex;
    margin-bottom: 20px;
}
.circle{
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: white;
}
.radioActive{
    background-color: red;
}